/AerisDemo/bin
/AerisMapsLibrary-release/bin
/AerisMapsLibrary/bin
/AerisDemo/gen
/AerisMapsLibrary-release/gen
/AerisMapsLibrary-release/project.properties
/AerisDemo/project.properties
/AerisMapsLibrary-release/build
/build
/AerisDemo/.idea
/AerisDemo/build
/.idea
/AerisDemo/local.properties
/local.properties
/.idea/libraries
/AerisDemo/.gradle
/AerisDemo/.settings
/AerisMapsLibrary-release/local.properties
