<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoaerisproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AerisSdkDemo"
        tools:targetApi="31">
        <activity
            android:name="com.example.demoaerisproject.view.map.MyMapActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
                    android:value="@string/google_maps_key"/>

        <service
            android:name="com.example.demoaerisproject.service.NotificationService"
            android:enabled="true" />
        <service
            android:name="com.example.demoaerisproject.service.ScreenOnService"
            android:enabled="true" />
        <service
            android:name="com.example.demoaerisproject.service.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.example.demoaerisproject.view.map.MapOptionsLocalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoaerisproject.view.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoaerisproject.view.locations.LocationSearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoaerisproject.view.locations.MyLocsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoaerisproject.view.weather.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>